/* Write CSS rules here: */

body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  width: 95%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px;
}

.logo {
  height: 100px;
}

.portal-button {
  background-color: orange;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  align-self: center;
}

.banner-image {
  width: 100%;
  z-index: -1;
}

.partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white ;
}

p {
  font-family: "Open Sans", sans-serif;
}

.partnerlogo-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.paragraph-container {
  padding: 3% 8%;
}

.paragraph {
  background-color: black;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.header {
  color: orange;
  width: 35%;
  font-family: 'Alfa Slab One', serif;
  font-size: 27px;
}

.description {
  width: 60%;
  color: white;
}

hr {
  border: 1px solid orange;
  width: 30%;
}

.magzine {
  color: orange;

  font-family: 'Alfa Slab One', serif;
  font-size: 27px;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

.article {
  background-color: white;
  width: 42%;
  aspect-ratio: 0.77;
  padding: 3%;
}

.child-1 {
  position: absolute;
}

.child-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  align-items: center;
}

.title-row {
  margin: 100px;
  font-family: 'Alfa Slab One', serif;
  font-size: 27px;
  color: orange;
  width: 30%;
}


.logo-row{
  display: flex;
  justify-content: space-around;
  width: 80%;

}
