<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Alfa+Slab+One">
</head>

<body>
  <div class="banner">
    <div class="parent-nav">
      <img class="logo" src="assets/level_up_new.svg">
      <h1 class="parent-header">Parent Portal</h1>
    </div>
    <div class="slide">
      <img class="slide-image" src="assets/banner_image_1.png" />
      <img class="slide-image" src="assets/banner_image_2.png" />
    </div>
  </div>
  <div class="partnership">
    <p>In partnership with</p>
    <div class="partnerlogo-container">
      <img src="assets/los_agaves_logo.svg">
      <img src="assets/ymca_logo.svg">
    </div>
  </div>
  <div class="paragraph-container">
    <div>
      <img>
      <p>Spring Schedule</p>
    </div>
  </div>
  <div class="sponsor-container">
    <div class="footer-container">
      <div class="title-row">
        <h2>Thank You to Our Generous Sponsors</h2>
      </div>
      <div class="logo-row">
        <img src="assets/los_agaves_logo.svg">
        <img src="assets/bettina_logo.png">
        <img src="assets/ymca_logo.svg">
      </div>
    </div>
    <img class="background-image" src="assets/footer_image.png">
  </div>
  <script src="script.js"></script>
</body>

</html>