/* Write CSS rules here: */

body {
  background-color: black;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

h2 {
  color: orange;
  font-family: 'Alfa Slab One';
  font-size: 27px;
}

p {
  font-family: "Open Sans";
}


.nav {
  width: 95%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px;
}

.logo {
  height: 100px;
}

#portal-button {
  background-color: orange;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  align-self: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);

}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0 20px 40px 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.signin-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form {
  width: 50%;
  text-align: center;
}

.signin-form h2 {
  font-size: 60px;
  margin-top: 0;
}

.signin-form form {
  margin-bottom: 40px;
}

.signin-form p {
  font-size: smaller;
}

.close {
  color: orange;
  font-size: 70px;
  width: fit-content;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.slide-image {
  display: none;
}

.slide img {
  width: 100%;
}

.partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white ;
}

.partnerlogo-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.paragraph-container {
  padding: 3% 8%;
}

.paragraph {
  background-color: black;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.header {
  color: orange;
  width: 35%;
  font-family: 'Alfa Slab One', serif;
  font-size: 20px;
}

.description {
  width: 60%;
  color: white;
}

hr {
  border: 1px solid orange;
  width: 30%;
}

.magzine {
  color: orange;
  font-family: 'Alfa Slab One';
  font-size: 20px;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

.article {
  background-color: white;
  width: 42%;
  aspect-ratio: 0.77;
  padding: 3%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  align-items: center;
}

.background-image {
  width: 100%;
}

.title-row {
  margin: 10%;
  font-family: 'Alfa Slab One';
  font-size: 2em;
  color: orange;
  width: 30%;
  text-align: center;
}


.logo-row{
  display: flex;
  justify-content: space-around;
  width: 90%;

}

.signup-container {
  display: flex;
  justify-content: center;

}

.signup-form {
  margin: 60px 0;
}

.signup-form h2 {
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}

#name, #email {
    margin: 6px 0;
}

input[type=submit] {
  margin-top: 18px;
  background-color: orange;
  border: none;
}

/* parent portal page */
.parent-nav {
  height: 100%;
  position: absolute;
  margin: 30px 30px 0px 30px;
}

.parent-header {
  color: white;
  margin: 200px 100px 0px 100px;
  font-size: 50px;
  font-family: 'Alfa Slab One';
}

.pararent-paregraph {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spring-header{
  position: absolute;
  color: orange;
  margin: 30px;
  width: 30px;
  font-size: 40px;
  font-family: 'Alfa Slab One';
}

.basketball-girl {
  margin: 5% 2% 2% 5%;
  width: 44%;
}

.basketball-girl img {
  width: -webkit-fill-available;;
}

.basketball-paragraph {
  margin: 5% 2% 2% 0%;
  color: white;

}

.rightside-paragraphs h2 {
    margin: 0;
}

.flex-box-container {
  display: flex;
  color: white;
  flex-wrap: wrap;
   row-gap: 10px;
   margin: 5%;
}

.flex-item {
  width: 48%;
  padding: 10px;
}

.location-container {
  display: flex;
}

.location{
  width: 100%;
}

.location-container h1{
  position: absolute;
  margin: 20px;
  font-family: 'Alfa Slab One';
  font-size: 40px;
}

.flex-item h1 {
  color: orange;
  font-size: 40px;
  color: orange;
  font-family: 'Alfa Slab One';
  width: 50%;
}

.practice p{
  margin-top: 0;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .logo {
    height: 5ch;
  }

  .nav {
    flex-shrink: 0.2;
    width: 90%;
    height: 30px;
  }

  .partnership {
    padding: 10px;
  }


  .partnerlogo-container {
    width: 30px;
    height: 30px;
  }

  .header {
    font-size: 10px;
  }

  .magzine h1 {
    font-size: 25px;
  }

  .article h2 {
    font-size: medium;
  }

  .article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article {
  width: 95%;
  margin-top: 3%;
}

.logo-row img {
  width: 50px;
  height: 50px;
}

.title-row {
  margin: 20px;
}

.title-row h2 {
  font-size: x-small;
}

.signup-form {
  margin: 0px 10px 10px 10px;
}

.signin-form h2 {
  font-size: 25px;
}

.close {
  font-size: 40px;
}

.signin-form {
  width: 80%;
}
.signin-form p {
  font-size: xx-small;
  color: gray;
}

/* parent portal page */
.parent-nav {
  height: 15%;
  position: absolute;
}

.parent-header {
  margin: 25px;
  font-size: 20px;
  padding: 10px;
}

.pararent-paregraph {
  flex-direction: column;
}

.spring-header {
  font-size: 20px;
}

.basketball-girl img {
  width: 100%;
}

.basketball-girl {
  margin: 5%;
}

.basketball-paragraph {
  margin: 5%;
  color: white;
}

.basketball-paragraph h2{
  font-size: 20px;
}

.flex-item {
  width: 100%;
  padding: 0;
}
.flex-item h1 {
  font-size: 20px;
}

.title-row h2 {
  /* font-size: 20px; */
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.logo-row img {
  width: 70px;
  height: 70px;
}

.title-row {
  margin: 50px;
}

.title-row h2 {
  font-size: 20px;
}

.signin-form h2 {
  font-size: 20px;
}


.signin-form {
  width: 80%;
}

.signin-form p {
  font-size: smaller;
  color: gray;
}

.parent-header {
  width: max-content;
  margin: 30%;
  font-size: 40px;
}

.flex-item {
  width: 45%;
  padding: 10px;
}

.flex-item h1 {
  font-size: 40px;
}

}

